* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    background-color: #d6f4ed;
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    background-color: rgb(255, 98, 153);
    color: white;
    font-size: 1.1em;
    z-index: 100;
    display: flex;
    justify-content: center; 
    padding: 15px;
}

nav li {
    display: inline;
    margin: 0 100px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}


/* Current */
#currentHumidityContainer, #currentTemperatureContainer {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#currentHumidityItem,
#currentTemperatureItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgb(255, 148, 191) 0%, rgb(255, 88, 146) 100%);
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    height: 30%;
    width: 40%;
    color: #fff;
}

#currentHumidityTitle,
#currentTemperatureTitle {
    border-bottom: 1px solid #fff;
    width: 70%;
    margin-bottom: 20px;
    padding-bottom: 18px;
}

#currentHumidityInfo, #currentTemperatureInfo {
    font-weight: 600;
    font-size: 1.1em;
}


/* Date Range */
label {
    padding: 5px;
    color: #3AA6B9;
    font-weight: 600;
}

#humidityTitle,
#temperatureTitle {
    margin-top: 40px;
    margin-bottom: 5px;
    background-color: rgb(255, 176, 213);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

#startDateHumidity,
#startDateTemperature,
#endDateHumidity,
#endDateTemperature {
    padding: 7px;
    text-align: center;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 0.9em;
}

#getDataHumidity,
#getDataTemperature {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1em;
    font-weight: 400;
    color: #FFF;
    letter-spacing: 0.07em;
    font-weight: 600;
    border-radius: 5px;
    background: radial-gradient(circle, rgba(255,92,157,1) 0%, rgba(254,0,88,1) 100%);
}

#getDataHumidity:hover,
#getDataTemperature:hover {
    background: radial-gradient(circle, rgba(255,124,177,1) 0%, rgba(255,43,116,1) 100%);
}

#humidityContainer, #temperatureContainer {
    text-align: center;
    margin: auto;
    width: 500px; 
    padding-top: 100px;
}

.humidityItem, .temperatureItem {
    width: 90%;
}

.inputField {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#humidityData::-webkit-scrollbar, #temperatureData::-webkit-scrollbar {
    width: 11px;
}

#humidityData,
#temperatureData {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-size: 0.9em;
    height: 700px;
    overflow-y: auto;
    margin-top: 15px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#humidityData::-webkit-scrollbar-track, #temperatureData::-webkit-scrollbar-track {
    background-color: rgb(255, 176, 213);
}

#humidityData::-webkit-scrollbar-thumb, #temperatureData::-webkit-scrollbar-thumb {
    background-color: rgb(245, 32, 103);
    width: 11px;
}

#humidityData p,
#temperatureData p {
    padding: 10px 10px;
    padding-left: 50px;
    width: 90%;
    border: 1px rgb(121, 144, 148) solid;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#output {
    color: #fff;
    background-color: rgb(255, 176, 213);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 30px;
}